# PostgreSQL
POSTGRES_DB=agri_db
POSTGRES_USER=agri_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

# MongoDB
MONGO_DATABASE=agri_logs
MONGO_USER=agri_user
MONGO_PASSWORD=change_me
MONGO_PORT=27018

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio

# Application
ENVIRONMENT=development